body {
  background-color: #1b1b1b;
  color: #e6e6ee;
  font-family: "Georgia", "Times New Roman", serif;
  padding: 20px; 
}

.houses-title {
  background-image: url("../assets/houses.JPG");
  background-size: contain; /* Muestra la imagen completa */
  background-repeat: no-repeat;
  background-position: center;
  
  margin: 0;
  aspect-ratio: 16 / 3; 
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(18px, 3vw, 25px); /* texto responsive */ 
  text-shadow: 0 2px 10px black; 
  margin-bottom: 0;

}

form {
  text-align: center;
  margin-bottom: 30px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

select {
  font-family: "Georgia", "Times New Roman", serif;
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #d4af37;
  padding: 5px 10px;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #2b2b2b;
}

th {
  background-color: #3a3a3a;
  color: #d4af37;
  padding: 8px;
  text-transform: uppercase;
  font-size: 14px;
}

td {
  padding: 8px;
  border: 1px solid #555;
  font-size: 13px;
}

/* Filas alternas */
tr:nth-child(even) {
  background-color: #242424;
}

/* Hover para dar efecto */
tr:hover {
  background-color: #3f3f3f;
}

.error {
  text-align: center;
  color: #ff4c4c;
  font-weight: bold;
  padding: 20px;
  font-size: 14px;
}

.loading {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 14px;
}